@model MyMoney.ViewModels.Saving.Goal.GoalViewModel
    
<div class="ui form">
    @Html.HiddenFor(x => x.Id)
    <div class="two fields">
        @Html.EditorFor(x => x.Name)
        @Html.EditorFor(x => x.Amount)
    </div>
    <div class="two fields">
        @Html.EditorFor(x => x.StartDate)
        @Html.EditorFor(x => x.EndDate)
    </div>
</div>
