@using Cassette.Scripts
@using Cassette.Stylesheets
@using Cassette.Views
@using MyMoney.Resources
@model MyMoney.ViewModels.Spending.Expenditure.TrackExpenditureViewModel
@{
    ViewBag.Title = Expenditure.Title_Expenditure;
    Bundles.Reference<ScriptBundle>("~/Areas/Spending/Scripts/Expenditure/MyMoney.TrackExpenditure.js");
    Bundles.Reference<StylesheetBundle>("~/Areas/Spending/Content/Expenditure/expenditure.css");
    Bundles.Reference<StylesheetBundle>("~/Content/Chartist/chartist.css");
}
<div class="ui grid" id="main-grid">
    <div class="sixteen wide column">
        <div class="ui styled segment">
            <div class="ui active inverted dimmer">
                <div class="ui text loader" id="chart-loading-text"></div>
            </div>
            <div data-hint="@Expenditure.Hint_ExpenditureChart" id="expenditure-chart" data-url="@Url.Action("GetExpenditureChartData", "Expenditure")"></div>
        </div>
    </div>
    <div class="eight wide column">
        <div class="ui styled segment">
            <h4 class="ui block header">
                <i class="calendar icon"></i>
                @Expenditure.Heading_ExpenditureThisMonth
            </h4>
            <div id="expenditure-calendar" data-hint="@Expenditure.Hint_ExpenditureCalendar" data-url="@Url.Action("GetExpenditureForMonth", "Expenditure", new { monthNumber = DateTime.Now.Month })"></div>
        </div>
    </div>
    <div class="eight wide column">
        <div class="ui styled segment">
            <h4 class="ui block header">
                <i class="payment icon"></i>
                @Expenditure.Heading_LatestExpenditure
            </h4>
            @{
                Html.RenderPartial("Tables/_ExpenditureTable", Model.Expenditures);
            }
        </div>
    </div>
</div>

@section Modals
{
    @{ Html.RenderPartial("Modals/_AddExpenditureModal", Model.AddExpenditure); }
    @{ Html.RenderPartial("Modals/_EditExpenditureModal", Model.EditExpenditure); }
}
