@model DateTime?
@{
    string date;

    if (!Model.HasValue || Model.Value == DateTime.MinValue)
    {
        date = DateTime.Now.ToString("yyyy-MM-dd");
    }
    else
    {
        date = Model.Value.ToString("yyyy-MM-dd");
    }

    var attrString = string.Empty;
    var validationAttributes = Html.GetUnobtrusiveValidationAttributes(Html.NameForModel().ToString(), ViewData.ModelMetadata);

    attrString = validationAttributes.Aggregate(attrString, (current, attrib) => current + $"{attrib.Key}=\"{attrib.Value}\" ");
}

<div class="field">
    @Html.LabelForModel()
    <input type="date" name="@Html.NameForModel()" id="@Html.IdForModel()" value="@date" @Html.Raw(attrString)/>
</div>