@model object
@{
    var options = (SelectList)ViewData["options"];
    var value = Model?.ToString() ?? options.AsEnumerable().First().Text;
}

<div class="field">
    @Html.LabelForModel()
    <div class="ui fluid search selection dropdown">
        <input type="hidden" value="@value" id="@Html.IdForModel()" name="@Html.NameForModel()"/>
        <i class="dropdown icon"></i>

        <div class="text">@value</div>
        <div class="menu">
            @if (options != null)
            {
                foreach (var item in options.Items)
                {
                    <div class="item @(item.Equals(options.AsEnumerable().First().Text) ? "selected" : string.Empty)" data-value="@item.ToString()">@item.ToString()</div>
                }
            }
        </div>
    </div>
</div>