@model object
@{
    var options = (SelectList)ViewData["options"];
}

<div class="field">
    @Html.LabelForModel()
    <div class="ui selection dropdown">
        @Html.HiddenFor(x => x)
        <i class="dropdown icon"></i>

        <div class="default text">@Html.LabelForModel()</div>
        <div class="menu">
            @if (options != null)
            {
                foreach (var item in options.Items)
                {
                    <div class="item @(options.SelectedValue == item ? "selected" : string.Empty)" data-value="@item.ToString()">@item.ToString()</div>
                }
            }
        </div>
    </div>
</div>