@using System.Web.UI.WebControls
@model object
@{
    var options = (SelectList)ViewData["options"];
}

<div class="field">
    @Html.LabelForModel()
    <input type="hidden" name="@Html.NameForModel()" id="@Html.IdForModel()"/>
    <div class="ui fluid search selection dropdown">
        <div class="default text"></div>
        <div class="menu">
            @if (Model != null)
            {
                foreach (ListItem item in options.Items)
                {
                    <div class="item @(item.Selected ? "selected" : string.Empty)" data-value="@item.Value">@item.Text</div>
                }
            }
        </div>
    </div>
</div>