@using System.Globalization
@using Cassette.Scripts
@using Cassette.Stylesheets
@{
    Bundles.Reference<StylesheetBundle>("~/Content/Semantic");
    Bundles.Reference<StylesheetBundle>("~/Content/Site");

    Bundles.Reference<ScriptBundle>("~/Scripts/Semantic");
    Bundles.Reference<ScriptBundle>("~/Scripts/jQuery");
    Bundles.Reference<ScriptBundle>("~/Scripts/Common");
}

<!DOCTYPE html>
<html lang="@CultureInfo.CurrentCulture.TwoLetterISOLanguageName">
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title - MyMoney</title>
    @Bundles.RenderStylesheets()
</head>
<body>
@RenderBody()

<div id="script-container">
    @Bundles.RenderScripts()
    @RenderSection("Scripts", false)
</div>
</body>
</html>