@using System.Globalization
@using System.Reflection
@using MyMoney.Extensions.Assembly
@using MyMoney.Resources
<div class="ui left vertical inverted sidebar menu" id="sidebar">
    <div class="item logo">
        @Common.Title_Menu
    </div>
    <div class="ui accordion">
        <a class="item" href="@Url.Action("BudgetOverview", "Budget", new { area = "Dashboard" })">
            <span>
                <i class="dashboard icon"></i>
                @Common.Title_Overview
            </span>
        </a>
        <a class="item" href="@Url.Action("Manage", "Bill", new { area = "Spending" })">
            <span>
                <i class="delete calendar icon"></i>
                @Common.Title_ManageBills
            </span>
        </a>
        <a class="ui item" href="@Url.Action("Track", "Expenditure", new { area = "Spending" })">
            <span>
                <i class="payment icon"></i>
                @Common.Title_TrackSpending
            </span>
        </a>
        <a class="ui item" href="@Url.Action("Manage", "Goal", new { area = "Saving" })">
            <span>
                <i class="flag outline icon"></i>
                @Common.Title_SetGoals
            </span>
        </a>
    </div>
    <div class="item fixed-bottom-item disabled">
        <p>
            v@(typeof(MvcApplication).Assembly.GetName().Version)<br/>
            @Assembly.GetExecutingAssembly().GetLinkerTime().ToString(CultureInfo.CurrentCulture)
        </p>
    </div>
</div>