@using Cassette.Stylesheets
@using MyMoney.Resources
@model MyMoney.ViewModels.Authentication.User.RegisterViewModel
@{
    ViewBag.Title = Authentication.Title_Register;
    Layout = "~/Views/Shared/_PlainLayout.cshtml";

    Bundles.Reference<StylesheetBundle>("~/Areas/Authentication/Content/user.css");
}

<div class="register-container">
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <div class="ui large form">
                @using (Html.BeginForm("Register", "User", FormMethod.Post, new { id = "register-form" }))
                {
                    <div class="ui stacked segment">
                        <h2 class="ui block header">
                            <i class="add user icon"></i> @Authentication.Title_Register
                        </h2>

                        @Html.AntiForgeryToken()

                        <div class="two fields">
                            <div class="field">
                                @Html.TextBoxFor(m => m.FirstName, new { placeholder = "First Name" })
                            </div>
                            <div class="field">
                                @Html.TextBoxFor(m => m.LastName, new { placeholder = "Last Name" })
                            </div>
                        </div>
                        <div class="field" data-tooltip="You must be over 18 to use this website" data-position="right center">
                            @Html.TextBoxFor(m => m.DateOfBirth, new { placeholder = "Date of Birth", type = "date" })
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="at icon"></i>
                                @Html.TextBoxFor(m => m.EmailAddress, new { placeholder = "Email Address" })
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input" data-tooltip="Your password must be at least 8 characters long, contain symbols, digits and at least 1 upper case letter" data-position="right center">
                                <i class="lock icon"></i>
                                @Html.PasswordFor(m => m.Password, new { placeholder = "Password" })
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm Password" })
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui checkbox">
                                @Html.CheckBoxFor(m => m.AcceptTermsAndConditions)
                                <label>@Common.Label_AcceptTermsAndConditions</label>
                            </div>
                        </div>
                        <div class="ui fluid large blue button" id="register">
                            <i class="ui sign in icon"></i>
                            @Authentication.Title_Register
                        </div>
                    </div>
                }
                @Html.ValidationSummary(true)
            </div>
            <div class="ui message">
                @Authentication.Message_ExistingUser <a href="@Url.Action("Login", "User")">@Authentication.Message_Here</a>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">

        $("#register")
            .click(function(e) {
                e.stopPropagation();

                if ($("#register-form").valid()) {
                    $("#register-form").submit();
                }

            });
    </script>
}