@using MyMoney.Resources
@model MyMoney.ViewModels.Spending.Expenditure.EditExpenditureViewModel
<div class="ui modal" id="edit-expenditure-modal">
    <div class="header">
        <i class="edit icon"></i>
        @Expenditure.Title_EditExpenditure
    </div>
    <div class="content">
        @using (Html.BeginForm("Edit", "Expenditure", FormMethod.Post, new { id = "edit-expenditure-form" }))
        {
            <div class="description">
                @{ Html.RenderPartial("Editors/_ExpenditureEditor", Model.Expenditure, new ViewDataDictionary { { "CategoryOptions", Model.CategoryOptions } }); }
            </div>
                    }
    </div>
    <div class="actions">
        <div class="ui red right labeled left floated icon button"
             id="delete-expenditure"
             data-url="@Url.Action("Delete", "Expenditure", new { expenditureId = Model.Expenditure.Id })">
            @Common.Button_Delete
            <i class="trash icon"></i>
        </div>
        <div class="ui black deny right labeled icon button" id="cancel">
            @Common.Button_Cancel
            <i class="cancel icon"></i>
        </div>
        <div class="ui yellow right labeled icon button" id="edit-expenditure">
            @Common.Button_Edit
            <i class="edit icon"></i>
        </div>
    </div>
</div>

